*{
	margin:0px;
	padding:0px;
}
/**
 * Tamaño de la pagina
 * @author Jhonny Alexander Morales Gaviria
 * @versiofont-size
 */	
div#general
{
	margin:auto;
	margin-top:30px;
	width:1200px;
	height:800px;
}
/**
 * Logo del SENA e informacion del USUARIO
 * @author Jhonny Alexander Morales Gaviria
 * @version 1.0
 */
div#usuario
{
	width:1200px;
	height:200px;
}
div#encabezado1
{
	width: 370px;
	float: left;
}
div#encabezado2
{
	width: 640px;
	float: left;
}
div#encabezado3
{
	float: left;
}
.campo
{
	padding: 10px;
	font-family: arial;
	color:white;
	width: auto;
	height: auto;
	border-bottom: 1px;
	background-color: #639BB3;
	border-radius:15px;
}
/**
 * Efecto Icono SENA encabezado
 * @author Jhonny Alexander Morales Gaviria
 * @versiofont-size
 */	
	 img#iconSena
	 {
	 	padding: 10px;
	 	width: 150px;
	 	float: left;
	 	display: block;
	 }
/**
 * Botones para Registro APRENDIZ, EMPRESAS, ADMINISTRACION Y BIENESTAR
 * @author Jhonny Alexander Morales Gaviria
 * @version 1.0
 */
 div.navegador
 {
 	float: right;
	width:980px;
	height: 70px;
 }
table.contBotonReg
{
	margin: auto;
	width: 800px;
	height: 70px;	
}

/**
* Menu de Botones de REGISTRO
* @author Jhonny Alexander Morales Gaviria
* @versiofont-size
*/		

		button.botonReg
		{
			background-color: blue;
			width:200px;
			font-family: arial;
			color: white;
			font-size: 15px;
			float: left; 
			height: 50px;
			background-color: #639BB3;
			border-radius:0px 0px 15px 15px; 
			box-shadow: 0px 5px 15px #939393;
			-webkit-transition: padding-top 0.2s;
			-moz-transition: padding-top 0.2s;
			-o-transition: padding-top 0.2s;
			transition: padding-top 0.2s;
		}
/**
 * Animacion Cuando el cursor pasa por encima de los botones
 * @author Jhonny Alexander Morales Gaviria
 * @versiofont-size
 */	
				button.botonReg:focus
				{
					outline: none;
					height: 60px;
					font-size: 18px;
					padding-top: 10px;
					opacity: 1;
					background-color: #5B91A8;
				}

div#body
{
	float:right;
	margin-top: 20px;
	width:980px;
	height: 600px;
}


/**
 * Letra para los BOTONES de registro
 * @author Jhonny Alexander Morales Gaviria
 * @versiofont-size
 */	
		p.texto
		{
			font-family: arial;
			font-size: 15px;
			color:white;
			text-align: center;
		}
				div.contenedor:hover p.texto
				{
					padding-top: 10px;
					opacity: 1;
				}


/**
 * Menu de busqueda EGRESADOS y EMPRESAS
 * @author Jhonny Alexander Morales Gaviria
 * @versiofont-size
 */		
div#menu
{
	margin-top:20px;
	width:200px;
	height:580px;	
}
div#menu table.contBotonCon
{
	margin-top: 55px;
	width: 200px;
	height:70px;
}


/**
 * Animacion y estilo de Empreseas y egresados
 * @author Jhonny Alexander Morales Gaviria
 * @versiofont-size
 */	
		button.botonConsul
		{
			font-family: arial;
			font-size: 20px;
			background-color:#639BB3;
			width:190px;
			padding-top: 10px;
			padding-left: 20px;
			padding-bottom: 10px;
			border-radius:0px 20px 20px 0px; 
			box-shadow: 5px 0px 10px #939393;
			color:white;
			-webkit-transition: padding-left 0.2s;
			-moz-transition: padding-left 0.2s;
			-o-transition: padding-left 0.2s;
			transition: padding-left 0.2s;
		}
			button.botonConsul:focus
			{
				outline: none;
				font-size: 22px;
				width: 200px;
				padding-left: 30px;
				background-color: #5B91A8;
				opacity: 1;
			}

/**
 * Animaciones para los LINKS de la pagina
 * @author Jhonny Alexander Morales Gaviria
 * @versiofont-size
 */	
			a:link
			{
				text-decoration: none; color:#FFFFFF;
			}
			a:visited 
			{
				text-decoration:none;color:#FFFFFF;
			} 
			a:active 
			{
				text-decoration:none;color:#CBC9C9;
			}
			a:hover 
			{
				text-decoration:none;color:#CBC9C9;
			}
